<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/html_projects_style/landing_page_project.css">
  <link rel="stylesheet" href="/static/sticky_element.css">
</head>
<header id="header">
  <div id="logo">
    <img id="header-img" src="https://seeklogo.com/images/T/trade-insider-logo-9E72380ECF-seeklogo.com.png" style="width:150px;height:50px;margin-left:15px" alt="company-logo" />
  </div>
  <div style="flex:1">
  </div>
  <nav id="nav-bar" style="margin:auto">
    <ul class="nav-links" style="list-style:none">
      <li><a class="nav-link" href="#features">Features</a></li>
      <li><a class="nav-link" href="#partners">How it works?</a></li>
      <li><a class="nav-link" href="#pricing">Pricing</a></li>
    </ul>
  </nav>
</header>
<div class="sticky">
  <a href="/front">
  BACK TO PORTOFOLIO</a>
</div>
<div id="container">
  <section id="hero">
    <h1>AUTOMATIC TRADING SOFTWARE</h1>
    <form id="form" action="https://www.freecodecamp.com/email-submit">
      <strong style="font-size:20px;margin-bottom:10px;">Find out more:</strong>
      <input id="email" name="email" type="email" placeholder="Enter your email here" style="border:solid 2px; border-radius:5px; text-align:center" required>
      <input id="submit" type="submit" value="Get started" style="width:100px; margin-left:35px;margin-top:10px;height:25px;"></input>
    </form>
  </section>
</div>
<div class="container">
  <section class="features" id="features">
    <div class="icon"><i class="fa fa-money" style="font-size:50px; margin:5px; padding:5px; text-align:center"></i>
      <h2> Fast and reliable withdrawal!</h2>
    </div>
    <div class="icon"><i class="fa fa-line-chart" style="font-size:50px; margin:5px; padding:5px; text-align:center"></i>
      <h2> 80% Successful trades!</h2>
    </div>
    <div class="icon"><i class="fa fa-clock-o" style="font-size:50px; margin-bottom:15px; margin-left:10px; padding:5px; text-align:center"></i>
      <h2> Everything automatic, no time consuming!</h2>
    </div>
  </section>
</div>
<section id="partners">
  <iframe id="video" src="https://www.youtube.com/embed/0GbjPMznc14" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<section id="pricing">
  <div class="product" id="silver">
    <div class="level"> Silver</div>
    <h2>250$</h2>
    <ol>
      <li>Lorem ipsum.</li>
      <li>Lorem ipsum.</li>
      <li>Lorem ipsum dolor.</li>
      <li>Lorem ipsum.</li>
    </ol>
    <button class="input">Select</button></div>
  <div class="product" id="gold">
    <div class="level"> Gold</div>
    <h2>1000$</h2>
    <ol>
      <li>Lorem ipsum.</li>
      <li>Lorem ipsum.</li>
      <li>Lorem ipsum dolor.</li>
      <li>Lorem ipsum.</li>
    </ol>
    <button class="input">Select</button></div>
  <div class="product" id="platinum">
    <div class="level"> Platinum</div>
    <h2>5000$</h2>
    <ol>
      <li>Lorem ipsum.</li>
      <li>Lorem ipsum.</li>
      <li>Lorem ipsum dolor.</li>
      <li>Lorem ipsum.</li>
    </ol>
    <button class="input">Select</button></div>
  </div>
</section>