<html>
    <head>
        <link rel="stylesheet" href="/static/html_projects_style/tds_project.css">
        <link rel="stylesheet" href="/static/sticky_element.css">
    </head>
    <nav id="navbar">
        <header class="navbar-header">
        <h2> Fenomastic Guzel Evim </h2>
        <p> Tehnical data sheet </p>
        </header>
        <ul style="list-style:none">
        <li><a class="nav-link" href="#product_description">Product description</a></li>
        <li><a class="nav-link" href="#product_data">Product data</a></li>
        <li><a class="nav-link" href="#aplication_data">Aplication data</a></li>
        <li><a class="nav-link" href="#direction_of_use">Direction of use</a></li>
        <li><a class="nav-link" href="#certificates">
            Certificates</a></li>
        <li><a class="nav-link" href="#health_and_saftey">Health and saftey</a></li>
        <li><a class="nav-link" href="#disclaimer">
            Disclaimer</a></li>
        </ul>
    </nav>

    <main id="main-doc">
            <section class="main-section" id="product_description">
            <header class="main-header">Product description</header>
            <article>
                <p><h3>Type</h3>
        This product is a superior quality emulsion paint, with enriched colour experience due to the accuracy of colours
                and its matt finish. Based on 100% pure acrylic emulsion.</p>
            <p><h3>Features and benefits</h3>
        Offers a wider selection of colours which come out more beautifully because of the matt finish. Deep colours look
        rich, strong colours look soft as they are undistrurbed by gloss. It also has enhanced film properties and
        provides washable matt finish. Has very low VOC which ensures good indoor air quality. Free from harmful
        chemicals like APEO, formaldehyde, heavy Metals etc. Offers good flow, hiding power, incan anti bacterial and
        colour retention properties.
                </p>
            <p><h3>Recommended use</h3>
        Specially formulated topcoat recommended for all indoor spaces, including residential areas, villas and hotels.
                </p>
        <p><h3>Substrate</h3>
        Cement plaster, concrete, block work, rendered surfaces, gypsum board etc.
                </p>
        </article>
        </section>
        <section style="margin-top:50px" class="main-section" id="product_data">
            <header class="main-header">Product data</header>
            <article>
                <table style="margin-top:10px;width:75%;">
                <tr>
                    <td><strong>Packaging size</strong></td>
                    <td>1 L, 2.5 L and 15 L</td>
                </tr>
                <tr>
                    <td><strong>Colours</strong></td>
                    <td>Refer to Fenomastic colour card</td>
                </tr>
                <tr>
                    <td><strong>Solids</strong></td>
                    <td>34 +/- volume% Theoretical</td>
                </tr>
                <tr>
                    <td><strong>Specific gravity</strong></td>
                    <td>1,31 Only for white colour</td>
                </tr>
                <tr>
                    <td><strong>VOC</strong></td>
                    <td>8 g/l ISO 11890 EU</td>
                </tr>
                <tr>
                    <td><strong>VOC-USA</strong></td>
                    <td>6,97 g/l EPA Method 24</td>
                </tr>
                </table>
        </article>
        </section>
        <section style="margin-top:50px" class="main-section" id="aplication_data">
            <header class="main-header">Aplication data</header>
            <article>
                <p><h3>The product can be applied by:</h3>
                <ul>
                <li> Roller : Recommended.</li>
                <li>Spray : Use airless spray or conventional spray.</li>
                <li>Brush : Recommended to paint corners and edges.</li>
                </ul>
                
        <p><h3>Guiding data for airless spray</h3>
        <strong>Nozzle tip</strong> 0.021" - 0.027" </br>
        <strong>Spray angle degrees</strong> 65°- 80° </br>
        <strong>Pressure at nozzle</strong> 140 - 190 kg/cm² (2100 psi) </br>
        </p>
        <p><h3>Conditions during application</h3>
        The temperature of the substrate should be minimum 10 °C and at least 3 °C above the dew point of the air,
        measured in the vicinity of the substrate. Good ventilation is usually required in confined areas to ensure proper
        drying.</p>
        <p><h3>Recommended film thickness per coat</h3>
        <table style="margin-top:10px;width:35%;">
        <tr>
        <td>Dry</td>
        <td>Minimum</td>
        <td><code>25 µm</code></td>
        </tr>
        <tr>
            <td>Dry</td>
            <td>Maximum</td>
            <td><code>35 µm</code></td>
        </tr>
        <tr>
            <td>Wet</td>
            <td>Minimum</td>
            <td><code>73 µm</code></td>
        </tr>
        <tr>
            <td>Wet</td>
            <td>Maximum</td>
            <td><code>102 µm</code></td>
        </tr>
        </table>
        </p>
        <p>Film thickness will vary and is calculated as average.</p>
        <p><h3>Thinner</h3>
        Water</p>
        <p><h3>Dilution</h3>
        Maximum <code>10%</code></p>
        <p><h3>Cleaning of painting tools</h3>
        Water</p>
        <p><h3>Drying times</h3>
        Drying times are generally related to air circulation, temperature, film thickness and number of coats, and will
        be affected correspondingly.
        <ol>
        <li> Recommended data given is, for recoating with the same generic type of paint.</li>
        <li>In case of multi-coat application, drying times will be influenced by the number and sequence and by the
        total thickness of previous coats applied.</li>
        <li>The surface must be sanded to achieve maximum adhesion if the application is done after recommended
        recoating time.</li>
        </ol>
        </p>
        </article>
        </section>
        <section style="margin-top:50px" class="main-section" id="direction_of_use">
            <header class="main-header">Direction of use</header>
        <article>
            <p><h3>Surface preparation</h3>
        The substrate must be sound, clean, dry and free from dust, oil, grease, laitance etc. All traces of form release
        agents/curing agents must be removed. A light sanding with suitable abrasive material is recommended before
            application. Any resulting dust/loose particles must be removed.</p>
        <p><h3>Recommended paint system:</h3>
        <h3>Primer</h3>
        Fenomastic Emulsion Primer or PVA Primer : 1 Coat
        <h3>Filler</h3>
        Stucco : 2 Coats
        <h3>Topcoat</h3>
        Fenomastic Güzel Evim Zengin Mat : 2 Coats
        <h3>Remarks</h3>
        Other systems may be specified, depending on area of use.
        Contents of packaging with different batch numbers must be mixed together before use.
        Please refer to the Decorative Sales Department for technical advice.
        <h3>Storage</h3>
        The product must be stored in accordance with national regulations. Keep the containers in a dry, cool, well
        ventilated space and away from sources of heat and ignition. Containers must be kept tightly closed. Handle
        with care.
        </p>
        </article>
        </section>
        <section style="margin-top:50px" class="main-section" id="certificates">
            <header class="main-header">Certificates</header>
        <article>
            <p>Surface spread of flame : Class 1Y ( In accordance with the class definitions given in BS 476:Part 7:1997 ) :
            <strong>Exova Warringtonfire, UK.</strong>
        Wet Abrasion scrub test as per DIN 53778 passed for 5000 cycles as tested by Al Futtaim Bodycote Testing LLC,
        UAE
            </p>
        </article>
        </section>
        <section style="margin-top:50px" class="main-section" id="health_and_saftey">
            <header class="main-header">Health and saftey</header>
        <article>
            <p>Please observe the environmental and precautionary notices displayed on the container.
        A Material Safety Data Sheet for the product has been issued.
        Detailed information regarding health and safety risks and precautions for the use of this product is specified in
        the product's Safety Data Sheet.
        First-aid measures, refer to section 4.
        Handling and storage, refer to section 7.
        Transport information, refer to section 14.
            Regulatory information, refer to section 15.</p>
        </article>
        </section>
        <section style="margin-top:50px" class="main-section" id="disclaimer">
            <header class="main-header">Disclaimer</header>
        <article>
            <p>The information in this document is given to the best of Jotun's knowledge, based on laboratory testing and
        practical experience. Jotun's products are considered as semi-finished goods and as such, products are often
        used under conditions beyond Jotun's control. Jotun cannot guarantee anything but the quality of the product
        itself. Minor product variations may be implemented in order to comply with local requirements. Jotun reserves
        the right to change the given data without further notice.
        Users should always consult Jotun for specific guidance on the general suitability of this product for their needs
        and specific application practices.
        If there is any inconsistency between different language issues of this document, the English (United Kingdom)
            version will prevail.</p>
        </article>
        </section>
    </main>
    <div class="sticky">
        <a href="/front">
        BACK TO PORTOFOLIO</a>
      </div>
</html>





       
      