body {
  background-color: #470024;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 40px;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
}

.intro {
  display: flex;
  justify-content: center;
  align-content: center;
  color: black;
}

.container {
  /* margin-top: 50px; */
  width: 80%;
  height: 100vh;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: black;
}

/* .form-body {
} */

.card-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0px 250px;
}

.card {
  background-color: #251101;
  border: #5b1865 solid;
  border-radius: 5px;
  width: 300px;
  height: 500px;
}

.card-description {
  display: flex;
  justify-content: center;
  align-content: center;
}
