<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/contact_style.css">
    <title>Contact me!</title>
  </head>
  <body>
    <nav id="navbar">
      <ul class="nav-list" style="list-style: none">
        <li>
          <a href="/">Go Back</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
    <h2 style="margin-top:150px">Write to me</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="success">
                {{ message }} 
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    <div class="container">
      <div class="form-body">
        <form action="/contact" method="POST">
          <div class="form-element">
            <label for="name">Enter your name: </label>
            <input type="text" name="name" placeholder="Your name..."/>
          </div>
          <div class="form-element">
            <label for="email">Enter your email: </label>
            <input type="text" name="email" placeholder="Your email..."/>
          </div>
          <div class="form-element">
            <label for="subject">Enter subject: </label>
            <input type="text" name="subject" placeholder="Subject..."/>
          </div>
          <div class="form-element">
            <label for="message">Enter your message</label>
            <textarea name="message" id="" cols="30" rows="10" placeholder="Your message..."></textarea>
            <input type="submit" />
          </div>
        </form>
      </div>
    </div>
    <section id="contact" class="contact-section" style="bottom:0; position:fixed; width:100%;">
      <div class="contact-section-header">
        <h1>Let's work together</h1>
        <p>Write to me using one of the links below or using the <a href="/contact" style="margin:0; text-decoration: underline">contact</a> page</p>
      </div>
      <div class="contact-links">
        <a
          href="https://www.codewars.com/users/soare23"
          target="_blank"
          class="btn contact-details"
          ><span class="iconify" data-icon="simple-icons:codewars" data-inline="false"></span></i> CodeWars</a
        >
        <a
          id="profile-link"
          href="https://github.com/soare23"
          target="_blank"
          class="btn contact-details"
          ><i class="fab fa-github"></i> GitHub</a
        >
        <a
          href="mailto:toma.mihai.sorin23@gmail.com"
          class="btn contact-details"
          ><i class="fas fa-at"></i> Send a mail</a
        >
        <a href="tel:+40726811097" class="btn contact-details"
          ><i class="fas fa-mobile-alt"></i> Call me</a
        >
      </div>
    </section>
  </body>
</html>
